<article class="article-preview-horiz">
  <a href="" class="article-preview-img-link" target="_blank">
    <img id="img" src="" alt="" class="article-preview-img">
  </a>
  <div class="article-preview-text-container">
    <a href="" class="article-preview-link" target="_blank">
      <h2 id="title" class="article-preview-h2"></h2>
    </a>
    <div class="article-preview-source-container">
      <img id="icon" src="" alt="" class="article-preview-icon-img">
      <p id="source" class="article-preview-source"></p>
    </div>
    <!-- <p id="source2" class="article-preview-source"></p> -->
    <p id="date" class="article-preview-date"></p>
    <!-- <p id="description" class="article-preview-description"></p> -->
  </div>
</article>