<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>File</title>

        <script type="text/javascript" src="/static-site/js/showdown.js"></script>
        <script src="/static-site/js/js-yaml.js "></script>

        <!-- https://simplecss.org/demo -->
        <link rel="stylesheet" href="/static-site/css/cards.css">
        <link rel="stylesheet" href="/static-site/css/simple.css">
        <script type="module" src="/static-site/js/file.js"></script>
        <script type="module" src="/static-site/js/main.js"></script>
    </head>
    <body>
        <div class="sidebar" id="fileBrowser"></div>
        <div class="sidebar-right mobile" id="toc-mobile"></div>
        <main>
        </main>
        <div class="sidebar-right desktop" id="toc"></div>
        <include src="/static-site/templates/footer.html"></include>
    </body>
</html>